/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    color: #c77676;
    padding-bottom: 20px;
}

/* color franja Titulo*/
.titulo_container{
    background-color: #c71414;
    background: linear-gradient(135deg, #0a0201, #ece2e2, #0a0201);

}
/* Encabezado */
header {
    font-family: 'Impact', sans-serif;
    background: linear-gradient(135deg, #0a0201, #f30505, #0a0201);
    color: rgb(252, 246, 246);
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

header h1 {
    /* font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); */


    font-family: 'Impact', sans-serif; /* Fuente similar a Marvel */
    font-size: 72px; /* Tamaño grande */
    font-weight: bold; /* Negrita */
    color: white; /* Texto blanco */
    text-transform: uppercase; /* Todo en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-align: center;
    background: linear-gradient(90deg, red, darkred); /* Degradado en rojo */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 10px rgba(51, 8, 8, 0.50); /* Sombra de texto */
}

/* Sección de personajes */
.personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px; /* Espaciado entre personajes */
}

/* Tarjeta de personaje */
.personaje {
    background-color: rgb(194, 192, 192);
    border-radius: 10px;
    width: 280px;
    text-align: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    border: 3px solid #8b7d7d;
}

.personaje:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagen de cada personaje */
.personaje img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #f0f1f5;
}

/* Título del personaje */
.personaje h2 {
    font-size: 1.8rem;
    color: #df091bd2;
    margin: 10px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Descripción del personaje */
.personaje p {
    padding: 0 15px 15px 15px;
    font-size: 1rem;
    color: #070707;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer text */
footer p {
    font-size: 1rem;
}
